RewriteEngine on

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://worldsuccesstyle.com.my/$1 [R,L]
RewriteCond %{HTTP_REFERER} !^http://worldsuccesstyle.com.my/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://worldsuccesstyle.com.my$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.worldsuccesstyle.com.my/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.worldsuccesstyle.com.my$      [NC]
RewriteCond %{HTTP_REFERER} !^https://worldsuccesstyle.com.my/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://worldsuccesstyle.com.my$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.worldsuccesstyle.com.my/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.worldsuccesstyle.com.my$      [NC]
RewriteRule .*\.(jpg|jpeg|jpe|jif|jfif|jfi|png|gif|webp|tiff|tif|psd|raw|arw|cr2|nrw|k25|bmp|dib|heif|heic|ind|indd|indt|jp2|j2k|jpf|jpx|jpm|mj2|svg|svgz|ai|eps|pdf)$ - [F,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]